<template>
  <section class="favorites-movies">
    <template v-if="!state.data.length">
      <template v-if="sessionId">
        <template v-if="state.data.results?.length">
          <movie-list :movies="state.data.results" />
        </template>

        <template v-else-if="state.data.total_pages === 0">
          <p>Você ainda não adicionou nenhum filme como favorito!</p>
        </template>

        <app-loading v-else-if="!state.data.results?.length" />
      </template>

      <template v-else>
        <span
          >Não é possível acessar seus filmes favoritos pois você está desconectado. Tente
          realizar seu Login! :)</span
        >
      </template>
    </template>
    <app-loading v-else />
  </section>
</template>

<script setup lang="ts">
import { reactive, onMounted, computed } from "vue";
import MovieList from "@/components/MovieList.vue";
import { useApi } from "@/composables/useApi";
import { useStore } from "vuex";
import AppLoading from "@/components/AppLoading.vue";

const { getFavorites } = useApi();
const store = useStore();

const sessionId = computed(() => store.getters.sessionId);

const state = reactive({
  data: [] as any,
});

onMounted(async () => {
  state.data = await getFavorites();
});
</script>

<style lang="scss">
.favorites-movies {
  padding: 50px 30px;
}
</style>
