<template>
  <div class="movie-item">
    <template v-if="Object.keys(state.data).length !== 0">
      <div class="movie-item__banner">
        <img :src="`https://image.tmdb.org/t/p/original${state.data.backdrop_path}`" />
      </div>

      <div class="movie-item__infos">
        <div class="movie-item__card">
          <img
            class="movie-item__poster"
            :src="`https://image.tmdb.org/t/p/original${state.data.poster_path}`"
          />

          <section>
            <div class="movie-item__title">
              <h1>
                {{ state.data.title }}
                <button @click="toggleFavorite" :disabled="!sessionId">
                  <img v-if="state.favorite" src="../assets/images/favorite---true.svg" />
                  <img v-else src="../assets/images/favorite---false.svg" />
                </button>
              </h1>
              <small v-if="state.data.tagline">{{ state.data.tagline }}</small>
            </div>
            <p class="movie-item__overview">
              <template v-if="state.data.overview"> {{ state.data.overview }}</template>
              <template v-else>Não há resumo para ser exibido.</template>
            </p>
            <app-info title="Gêneros" :description="state.data.genres" />
            <app-info title="Produtoras" :description="state.data.production_companies" />
            <app-info
              title="Data"
              :description="$filters.formatDate(state.data.release_date)"
            />
            <app-info
              title="Horário"
              :description="$filters.formatRuntime(state.data.runtime)"
            />
            <app-info title="Status" :description="state.data.status" />
          </section>
        </div>
      </div>
    </template>
    <app-loading v-else />
  </div>
</template>

<script lang="ts" setup>
import { reactive, onMounted, defineProps, computed } from "vue";
import AppInfo from "@/components/AppInfo.vue";
import { useApi } from "@/composables/useApi";
import { useStore } from "vuex";
import AppLoading from "@/components/AppLoading.vue";

const { getMovie, addFavorite } = useApi();
const store = useStore();

const props = defineProps({
  id: {
    type: Number,
    required: true,
  },
});

const sessionId = computed(() => store.getters.sessionId);

const state = reactive({
  data: {} as any,
  favorite: false,
});

const toggleFavorite = async () => {
  if (sessionId.value) {
    state.favorite = !state.favorite;
    addFavorite(props.id, state.favorite);
  }
};

onMounted(async () => {
  state.data = await getMovie(props.id);
  state.favorite = state.data.favorite;
});
</script>

<style scoped lang="scss">
.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  &__poster {
    width: 450px;
    box-shadow: 10px 10px 0 0 var(--aqua--3);
    border: 4px solid var(--aqua--2);

    @media (max-width: 1200px) {
      width: 150px;
      box-shadow: none;
    }
  }

  &__overview {
    background-color: var(--nevada--1);
    color: var(--dark);
    padding: 43px;
    margin-bottom: $size-24;
  }

  &--info {
    display: block;
    text-align: left;
  }

  &__title {
    text-align: start;

    button {
      background-color: transparent;
      border-radius: 50%;
      padding: 8px;
      border: 2px solid var(--aqua--1);
      cursor: pointer;
      width: 40px;
      height: 40px;
      filter: drop-shadow(2px 4px 6px var(--aqua--1));

      &:disabled {
        pointer-events: none;
        filter: opacity(0.3);
      }
    }

    h1 {
      padding: 16px;
      background-color: var(--aqua--3);
      font-size: $size-28;
      display: flex;
      justify-content: space-between;

      img {
        width: 20px;
        width: 20px;
      }
    }

    small {
      padding: 8px $size-16;
      background-color: var(--aqua--2);
      font-size: $size-14;
    }
  }

  &__infos {
    position: absolute;
  }

  &__card {
    display: flex;
    margin: 50px;

    @media (max-width: 1200px) {
      align-items: flex-start;
    }
  }

  section {
    padding: 43px;
    color: var(--cotton);

    @media (max-width: 1200px) {
      padding: 0;
    }
  }

  &__banner {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      object-fit: cover;
      height: inherit;
      filter: brightness(0.6) blur(2px);
    }
  }
}
</style>
