<template>
  <div class="now-playing">
    <template v-if="state.data.results">
      <movie-list :movies="state.data.results" />
      <app-pagination
        :current-page="pagination.currentPage"
        :page-count="pagination.pageCount"
        @updatePagination="pageChangeHandle"
      />
    </template>
    <app-loading v-else />
  </div>
</template>

<script lang="ts" setup>
import { reactive, onMounted } from "vue";
import MovieList from "@/components/MovieList.vue";
import { useApi } from "@/composables/useApi";
import AppPagination from "@/components/AppPagination.vue";
import AppLoading from "@/components/AppLoading.vue";

const { getNowPlaying } = useApi();

const state = reactive({
  data: [] as any,
});

const pagination = reactive({
  currentPage: 1,
  pageCount: 1,
});

const updateData = async (page = 1) => {
  state.data = await getNowPlaying(page);
  pagination.currentPage = state.data.page;
  pagination.pageCount = state.data.total_pages;
};

onMounted(() => {
  updateData(1);
});

const pageChangeHandle = (type: string) => {
  if (pagination.currentPage >= 1) {
    if (type === "next") pagination.currentPage++;
    if (type === "previous") pagination.currentPage--;
  }

  updateData(pagination.currentPage);
};
</script>

<style lang="scss">
.now-playing {
  padding: 50px 30px;
}
</style>
