<template>
  <h1>{{ route.meta.title }}</h1>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
const route = useRoute();
</script>

<style lang="scss" scoped>
h1 {
  color: var(--nevada--1);
  padding: 25px 0;
  font-size: $size-28;
  background-color: var(--asleep);
  border-bottom: 8px solid var(--flamingo);
  text-transform: uppercase;
  letter-spacing: 2px;
}
</style>
