<template>
  <span class="info" v-if="hasDescription">
    <strong> {{ props.title }}: </strong>
    <template v-if="typeof description !== 'object'">
      <span>{{ props.description }}</span>
    </template>
    <template v-else>
      <span v-for="(item, index) in props.description" :key="index">
        {{ item.name
        }}<template v-if="props.description.length !== index + 1">, </template>
      </span>
    </template>
  </span>
</template>

<script lang="ts" setup>
import { defineProps, computed } from "vue";

const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  description: {
    type: [String, Number, Array],
  },
});

const hasDescription = computed(() => {
  if (Array.isArray(props.description)) {
    return !!props.description.length;
  }
  return !!props.description;
});
</script>

<style lang="scss" scoped>
.info {
  display: block;
  text-align: left;
  margin: 16px 0;
  padding: 8px 0;
  border-bottom: 1px solid var(--nevada--2);
}
</style>
