<template>
  <div class="pagination">
    <button @click.prevent="previousPage()" :disabled="props.currentPage === 1">
      Anterior
    </button>
    <button @click.prevent="nextPage()" :disabled="props.currentPage === props.pageCount">
      Próxima
    </button>
  </div>
</template>

<script lang="ts" setup>
import { defineProps, defineEmits } from "vue";

const props = defineProps({
  currentPage: Number,
  pageCount: Number,
});

const emit = defineEmits(["updatePagination"]);

const nextPage = () => {
  emit("updatePagination", "next");
};

const previousPage = () => {
  emit("updatePagination", "previous");
};
</script>

<style lang="scss">
.pagination {
  button {
    padding: 15px;
    background-color: var(--amethyst);
    color: var(--nevada--1);
    border: 2px solid var(--nevada--1);
    cursor: pointer;
    margin: 18px;
    border-radius: 4px;

    &:hover {
      background-color: var(--aqua--1);
      border: 2px solid var(--aqua--2);
    }

    &:disabled {
      background-color: var(--default);
      border: 1px solid var(--nevada--2);
      color: var(--nevada--2);
      pointer-events: none;
    }
  }
}
</style>
