<template>
  <aside class="sidebar">
    <div class="sidebar__container">
      <nav class="sidebar__menu">
        <span class="sidebar__menu__user">
          <img
            v-if="store.getters.sessionId"
            :src="`https://www.gravatar.com/avatar/${store.getters.getUser.avatar.gravatar.hash}?s=500`"
            alt="Avatar do perfil"
          />
          <div class="sidebar__menu__user__info">
            <strong v-if="store.getters.sessionId">{{
              store.getters.getUser.username
            }}</strong>
            <button v-if="store.getters.sessionId" @click="store.commit('logOut')">
              Sair
            </button>
            <button @click="login" v-if="!store.getters.sessionId">Login</button>
          </div>
        </span>
        <div class="sidebar__menu__links">
          <router-link to="/now-playing" class="sidebar__menu__link"
            >Mais recentes</router-link
          >
          <router-link to="/favorites" class="sidebar__menu__link">Favoritos</router-link>
        </div>
      </nav>
    </div>
  </aside>
</template>

<script setup lang="ts">
import { useStore } from "vuex";
import { useApi } from "@/composables/useApi";

const { login } = useApi();
const store = useStore();
</script>

<style lang="scss">
.sidebar {
  background-color: var(--sleep);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 0 0 50px 0;
  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__menu {
    width: 100%;

    &__user {
      background: var(--amethyst);
      margin: $size-14;
      display: flex;
      align-items: center;
      width: 80%;
      text-align: right;
      padding: $size-12;
      justify-content: center;

      &__info {
        display: flex;
        flex-direction: column;

        button {
          font-weight: bold;
          color: var(--cotton);
          text-decoration: underline;
          cursor: pointer;
          text-transform: lowercase;
          background-color: transparent;
          border: none;
        }
      }

      a {
        color: var(--cotton);
        padding: 14px;
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 20px;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .router-link-active {
        border-left: 10px solid var(--flamingo);
        background-color: var(--dark);
      }
    }

    &__link {
      padding: 14px;
      color: var(--cotton);
      text-transform: uppercase;
      text-decoration: none;
      margin: 4px 0;
      cursor: pointer;
      border-left: 10px solid transparent;
      border-bottom: 2px solid var(--default);

      &:hover {
        color: var(--aqua--2);
        border-left: 10px solid var(--dark);
      }
    }
  }
}
</style>
