<template>
  <section class="movie__list">
    <template v-for="(item, index) in movies" :key="index">
      <movie-card :movie="item" />
    </template>
  </section>
</template>

<script lang="ts" setup>
import MovieCard from "./MovieCard.vue";
import { defineProps } from "vue";

defineProps({
  movies: [],
});
</script>

<style lang="scss">
.movie {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px 30px;
    margin: 40px;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 990px) {
      grid-template-columns: 1fr;
    }
  }
}
</style>
