<template>
  <router-link v-if="movie" :to="`/movie/${movie.id}`" class="movie__item">
    <span class="movie__average">{{ movie.vote_average }}</span>
    <img :src="`https://image.tmdb.org/t/p/w500${movie.poster_path}`" />
    <div class="movie__item__info">
      <strong class="movie__title">{{ movie.title }}</strong>
      <small class="movie__date">{{ $filters.formatDate(movie.release_date) }}</small>
    </div>
  </router-link>
</template>

<script lang="ts" setup>
import { defineProps, PropType } from "vue";

interface Movie {
  id: number;
  vote_average: number;
  poster_path: string;
  title: string;
  release_date: string;
}

defineProps({
  movie: {} as PropType<Movie>,
});
</script>

<style lang="scss">
.movie {
  &__average {
    position: absolute;
    background-color: var(--sum);
    padding: 6px;
    font-weight: bold;
    z-index: 20;
  }

  li {
    background-color: var(--nevada-1);
    border: 1px solid var(--default);
  }

  &__item {
    text-decoration: none;
    color: var(--default);
    background-color: var(--nevada--1);
    padding: 10px;
    box-shadow: rgb(80 92 104 / 85%) 0px 8px 24px;

    &:hover {
      background-color: var(--aqua--1);

      img {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.3) 0px 0px 0px 1px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 10px;
    }

    img {
      position: relative;
      bottom: 30px;
      width: 155px;
      height: 235px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
  }

  &__title {
    text-transform: uppercase;
  }
}
</style>
