*, html,
body, ul {
  box-sizing: border-box;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--asleep);
  color: var(--nevada--1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scrollbar-gutter: stable both-edges;
}

li {
  list-style: none;
}