<template>
  <main class="base">
    <app-sidebar />
    <section>
      <app-header />
      <router-view />
    </section>
  </main>
</template>

<script setup lang="ts">
import AppSidebar from "./components/AppSidebar.vue";
import AppHeader from "./components/AppHeader.vue";
</script>

<style lang="scss">
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
}

.base {
  display: grid;
  grid-template-columns: 300px 1fr;
}
</style>
